p {
  text-align: center;
  padding: 0px;
  margin: 10px;
  color: #1f1f1f;
}
.title {
  font-size: 50px;
  font-weight: ExtraBold;
  color: #2773e2;
  margin-bottom: 40px;
  font-weight: bolder;
}
.bold {
  font-weight: bold;
}
.container {
  margin: 120px 30px;
}
.description {
  font-size: 18px;
  margin: 40px;
}
hr {
  border: solid;
  color: #b3b3b3;
  height: 1px;
  background-color: #b3b3b3;
}
.divider {
  width: 100px;
}
#box-intro {
  background-color: #ecf4f9;
  margin: auto;
  padding: 20px 50px;
  border-radius: 25px;
  width: 50%;
  display: flex;
  flex-direction: column;
}
#box-bold {
  flex: 1;
  display: flex;
  align-items: flex-end;
  font-size: 30px;
  margin-top: 5%;
}
#box-thin {
  margin-bottom: 5%;
  flex: 1;
  display: flex;
  align-items: flex-start;
  font-size: 15px;
}
.box-hangul {
  flex: 1;
}
.box-adder {
  flex: 0.1;
}
.box-er {
  flex: 1;
}
.individuals {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 50px auto;
  /* flex-wrap: wrap; */
}
.individual {
  /* flex: 1; */
  width: 33%;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}
.underline {
  width: 40px;
}
.individual > img {
  border-radius: 50%;
  width: 40%;
}
.individual > .description {
  font-size: 15px;
  margin: 25px 8px 40px 8px;
}
.name {
  font-size: 23px;
}
.role {
  font-size: 18px;
  margin-bottom: 25px;
}

#tutors {
  margin-bottom: 200px;
}

#tutor-cards {
  display: flex;
  width: 95%;
  margin: auto;
  margin-top: 120px;
  margin-bottom: 80px;
  align-items: center;
}

.arrow {
  width: 5%;
  height: 5%;
  cursor: pointer;
}
.arrow.deact{
  filter:opacity(15%);
  cursor:default;
}

.card {
  display: none;
  position: relative;
  flex: 1;
  height: 500px;
  margin: 10px;
  border: thin solid #b3b3b3;
  border-radius: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  scrollbar-color: gray white;
}
.card.act {
  display: block;
}
.card:before {
  content: "";
  display: block;
  box-shadow: inset 0px 40px 20px -10px white;
  border-radius: 25px;
  width: 100;
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  z-index: 999;
}
.card:after {
  content: "";
  display: block;
  box-shadow: inset 0px -40px 20px -10px white;
  border-radius: 25px;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 100px;
  z-index: 999;
}

.card_content {
  position: absolute;
  overflow: auto;
  width: 100%;
  height: 95%;
  z-index: 99;
}

.card::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.card::-webkit-scrollbar-track {
  border-radius: 10px;
}

.korean-name {
  font-size: 25px;
  font-weight: ExtraBold;
  margin: 20px;
  font-family:"NanumSquareEB"
}
.english-name {
  font-size: 15px;
  margin: 20px;
  font-family:"BarlowR"
}

.voices {
  margin: auto;
  width: 80%;
}

.voice {
  display: flex;
  align-items: center;
  margin-top:15px;
}

.tutor-introduce {
  margin: 5%;
  font-size: 15px;
  font-family:"BarlowR";
}

.voice img {
  width: 10%;
}
.voice p {
  flex: 1;
  background-color: gray;
}

.stars {
  display: flex;
  width: 80%;
  margin: 10px auto;
  justify-content: center;
}
.stars img {
  width: 15%;
  margin: 5px;
  align-self: flex-start;
}

.reviews {
  width: 90%;
  margin: auto;
  margin-right: 3%;
  margin-bottom: 10%;
}

.review {
  display: flex;
  align-items: flex-end;
}

.review img {
  width: 15%;
  height: 20%;
  margin-bottom: 10px;
}

.review p {
  flex: 1;
  border: solid thin #b3b3b3;
  border-radius: 10px;
  padding: 10% 5%;
  margin-left: 0px;
  font-size: 13px;
  font-family:"BarlowR"
}

img {
  height: auto;
}

audio{
  width:90%;
  margin:auto;
  height:50px;
}

@media screen and (max-width: 860px) {
  .title {
    font-size: 40px;
  }
  .container {
    margin: 110px 10px;
  }
  .description {
    margin: 10px;
    font-size: 15px;
  }
  #intro .description {
    margin: 30px;
  }
  #box-intro {
    padding: 10px 30px;
    width: 90%;
  }
  #box-bold {
    font-size: 20px;
  }
  #box-thin {
    font-size: 10px;
  }
  .name {
    font-size: 18px;
  }
  .role {
    font-size: 16px;
  }
}

@media screen and (max-width: 790px) {
  .korean-name {
    font-size: 20px;
    font-weight: ExtraBold;
    margin: 20px;
  }
  .english-name {
    font-size: 15px;
    margin: 20px;
  }
  .tutor-introduce {
    font-size: 13px;
  }
}

@media screen and (max-width: 550px) {
  .individuals {
    width: 95%;
    margin: 25px 5px 40px 5px;
    flex-wrap: wrap;
  }
  .individual {
    width: 90%;
  }
  .individual > img {
    width: 25%;
  }
}
