/* CAUTION : Korean ver is different from Eng */
.content{margin:0 10px;text-align:center}
.content .btn{display:inline-block;margin:84px auto 0;padding:2%;background-color:#2773e2;font-size:25px;color:#fff;cursor:pointer;border-radius:15px}
.head-menu{display:flex;justify-content:center;}
.head-menu li{display:flex;margin-right:5%;padding:2%;background-color:#e6f2fc;list-style:none;color:#2773e2;font-size:30px;font-weight:bold;justify-content:center;align-items:center;cursor: pointer; width:30%;}
.head-menu li:last-child{margin-right:0}
.for-mobile{display:none;}
.sub-tit{position:relative;margin-top:12%;color:#2773e2;font-weight:bold;font-size:50px}
.sub-tit:before{content:'';display:block;margin:0 auto 70px;width:118px;height:1px;background-color:#2773e2}
.sub-tit.first:before{display:none}
.sub-content{margin:30px auto 0;width:80%;font-size:18px}
.talk-balloon-box{position:relative}
.talk-balloon{position:absolute;top:-50px;right:0;padding:1% 2%;font-size:24px;color:#2773e2;background-color:#d7e4f9;border-radius:10px;line-height:28px}
.talk-balloon:before{content: '';position: absolute;bottom:-18px;left:38px;border-top:20px solid #d7e4f9;border-left:34px solid transparent}
.teacher-box{display:flex;margin:132px 0 0;padding:10px}
.teacher-box.last{margin-top:30px}
.teacher-box li.box{display:flex;flex:1;flex-flow:column;margin-right:5%;padding:6%;list-style:none;box-shadow:2px 2px 5px 3px rgba(0, 0, 0, 0.3);border-radius:10px;}
.teacher-box li.box:last-child{margin-right:0}
.teacher-box-tit{font-size:40px;color:#2773e2;font-weight:bold}
.teacher-box-content{margin-top:50px;font-size:18px;text-align:left}
.level-table{margin:90px auto 0;width:90%}
.img-margin{margin-top:42px}
.diverse-box{display:flex;margin:90px 0 0;}
.diverse-box li{display:flex;flex:1;flex-direction:column;justify-content: center;margin-right:2%;padding:1% 2%;box-shadow:2px 2px 5px 3px rgba(0, 0, 0, 0.3);border-radius:10px;list-style:none;cursor:pointer}
.diverse-box li:last-child{margin-right:0}
.diverse-tit{font-size:26px;color:#444242}
.diverse-txt{font-size:18px;color:#444242}
.diverse-img-box{display:flex;justify-content: center;align-items:center;height:60%}
.standard-box{margin-top:18%;background-color:#e6f2fc}
.standard-box ul{overflow:hidden;display:flex;margin:0}
.standard-box ul li{float:left;position:relative;width:50%;list-style:none;}
.standard-box ul li .standard-content{display:flex;align-items:center;justify-content:center;height:100%;flex-direction:column}
.icon-time-box{position:absolute;top:2%;left:2%}
.icon-time-box .icon-time-txt{font-size: 26px;color:#444242;font-weight:bold;vertical-align:middle}
.standrd-tit{font-size:40px;color:#2773e2;}
.standrd-txt{font-size:24px}
.check-list{margin-top:64px}
.check-list ul{margin:0 auto;width:70%;text-align:left}
.check-list li{position:relative;margin-top:25px;padding-left:80px;list-style:none;font-size:18px;color:#606060}
.check-list li:before{content:'';position:absolute;margin-left:-80px;width:50px;height:50px;background:url("/wp-content/uploads/2020/10/courses_img06.png");background-size:100% 100%}
.step-box .step-back{margin:10% 0;text-align:left}
.step-box .step-tit{padding:1% 4%;background-color:#e6f2fc;border-radius:5px;font-size:32px;color:#2773e2;font-weight:bold}
.step-box .step-sub-tit{margin-left:2%;font-size:28px;color:#4d4d4d;font-weight:bold}
.step-box .step-sub-txt{margin-top:10px;font-size:23px}
.step-box table{margin:10% 0 13%;width:100%}
.step-box table td{width:50%;border:0;text-align:left;vertical-align:middle}
.step-box table td.first{padding:0 10px;vertical-align:bottom}
.step-box .circle{display:inline-block;width:44px;height:44px;line-height:50px;border-radius:25px;background-color:#92d4d6;text-align:center;color:#4d4d4d;font-size:23px;font-weight:bold}
.last-box{margin-bottom:90px;padding:5% 2%;font-size:40px;color:#2773e2}
.section-img-box{display:flex;padding:0 4%;margin-top:12%}
.section-img-box section{margin-right:16px}
.section-img-box section:last-child{margin-right: 0}

@media screen and (min-width:320px) and (max-width:980px){
  .content .btn{margin:42px auto 0;border-radius:5px;}
  .sub-tit:before{margin-bottom:35px;width: 90px}
  .teacher-box li.box{box-shadow:1px 1px 3px 1px rgba(0, 0, 0, 0.3);}
  .teacher-box-content{margin-top:25px}
  .talk-balloon{top:10%}
  .diverse-box li{box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3);}
  .check-list ul{width:85%}
  .check-list li{padding-left:30px}
  .check-list li:before{margin-left:-30px;width:25px;height:25px}
}
@media screen and (min-width:320px) and (max-width:650px){
  .content .btn, .head-menu li{font-size:15px;}
  .head-menu li{width:40%;}
  .sub-tit{font-size:25px}
  .sub-content{margin-top:15px;font-size:14px}
  .img-margin{margin-top:5%}
  .level-table{margin-top:30px;}
  .talk-balloon-box{display:none;}
  .teacher-box{margin:0px auto; margin-top:30px; flex-direction:column; padding:0; width:80%;}
  .teacher-box li.box{margin-right:0}
  .teacher-box li.box:first-child{margin-bottom:30px;}
  .teacher-box-tit{font-size:25px}
  .teacher-box-content{font-size:11px}
  .talk-balloon{font-size:0.5em}
  .diverse-tit{font-size:0.5em}
  .diverse-txt{font-size:0.4em}
  .standrd-tit{font-size:20px; margin-top:20px}
  .standrd-txt{font-size:12px} 
  .icon-time-box .icon-time-txt{font-size: 0.6em}
  .check-list{margin-top:8%}
  .check-list li{font-size:12px}
  .step-box .step-tit{font-size:0.8em}
  .step-box .step-sub-tit{font-size:0.5em}
  .step-box .step-sub-txt{font-size:11px;}
  .step-box .circle{width:20px;height:20px;line-height:20px;font-size:0.5em}
  .last-box{font-size:20px}
  .for-mobile{display:block;}
  .for-mobile-2{display:none;}
}